{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% load static %}
{% block content %}
     <div class="features">
         <h1>{{ title }}</h1>
         <h3><ins>Курсы программирования в Минске!</ins></h3>
         <h5>Научим программировать! Начни зарабатывать 3500 в IT уже через 6 месяцев вместе с нами!</h5>
         <img src="{% static 'main/img/index/head.png' %}" alt="head">

     </div>
    <div class="features">
        <a href="{% url 'training_home' %}"><button class="btn btn-warning">Про Обучение</button></a>
    </div>
{% endblock %}
