{% extends 'main/layout.html' %}

{% block title %}Форма добавления языка{% endblock %}

{% block content %}
{% load static %}
    <div class="features">
        <h1>Добавление языка</h1>
        <form method="post">
             {% csrf_token %}

            {{ form.language }}<br>
            {{ form.intro }}<br>
            {{ form.article }}<br>
            {{ form.date }}<br>

            <span>{{ error }}</span>
            <a href="{% url 'training_home' %}" class="btn btn-warning">Назад</a>
            <button class="btn btn-success" type="submit">Сохранить</button>
        </form>
    </div>
{% endblock %}
